# Create the Supply Chain data for a fictitious automotive company using Graph Database (Neo4j)

In this file we will:

+ Create dummy data for a car manufacturer along with its subsidiaries

Below image shows provides a high-level overview of how the various components of this fictitious car manufacturing company are related amongst each other. This provides an overview how the supplier organization/subsidiaries are related with the company, what are the locations where the factories and warehouses are operating. What are the various products required to build the car and how they are related with the demand

![supply-chain-graph-model.jpg](supply-chain-graph-model.jpg "Supply Chain Graph Model")

## Change the cell width for better visualization

In [16]:
from IPython.display import display, HTML
# Increase the width of the notebook cells
display(HTML("<style>.container { width: 100% !important; }</style>"))

In [18]:
from py2neo import Graph, Node, Relationship
import time
import traceback

### Establish Neo4j connection

The two cells below can be used to establish the Neo4j database connection, and check the status.

In [19]:
# Create a connection to the Neo4j database
graph = Graph("bolt://localhost:7687", auth=("neo4j", "neo"))

In [20]:
# Test the connection by running a simple query
try:
    result = graph.run("MATCH (n) RETURN COUNT(n) AS node_count").data()
    node_count = result[0]['node_count']
    print(f"Node count: {node_count}")
except Exception as e:
    print(f"Failed to execute query: {e}")

Node count: 37

In [21]:
# helper function to run a query and print the results and execution time
def run_request(request):
    start_time = time.time()
    try:
        if isinstance(request, list):
          for query in request:
            graph.run(query)
               
          results = "Done"
        else:
          results = graph.run(request)
          results = results if results else "done"
        
        exec_time = time.time() - start_time
        print(f'-- execution time: {round(exec_time, 3)} sec --')
        return results
    except Exception as e:
        exec_time = time.time() - start_time
        print(f"Failed to execute query: {e}")
        print(f'-- execution time: {round(exec_time, 3)} sec --')
        print(traceback.format_exc())  # Print full traceback
        return None

## Delete all data in the database

Below cell when run, deletes all data in the database. Use this cell with **CAUTION**

In [31]:
delete_request = """
MATCH (n)
DETACH DELETE n
"""
run_request(delete_request)

-- execution time: 0.127 sec --

(No data)

---

## Create the graph

This section creates the Supply Chain data. In subsequest cells this creates:
+ Companies, suppliers, subsidiaries
+ Add locations, warehouses, factories, products, stocks

#### Companies

In [32]:
# Run Cypher queries to create nodes
queries_companies = [
    "CREATE (c1:Company {id: 'company-1', name: 'TestCo-1'})",
    "CREATE (c2:Company {id: 'company-2', name: 'TestCo-2'})",
    "CREATE (c3:Company {id: 'company-3', name: 'TestCo-3'})",
    "CREATE (c4:Company {id: 'company-4', name: 'TestCo-4'})",
    "CREATE (c5:Company {id: 'company-5', name: 'TestCo-5'})",
    "CREATE (c6:Company {id: 'company-6', name: 'TestCo-6'})",
    "CREATE (c7:Company {id: 'company-7', name: 'TestCo-7'})"
]
run_request(queries_companies)

-- execution time: 0.033 sec --

'Done'

#### Locations

In [33]:
queries_locations = [
    "CREATE (:Location {id: 'company-2-location-1', name: 'Facility-1'})",
    "CREATE (:Location {id: 'company-2-location-2', name: 'Facility-2'})",
    "CREATE (:Location {id: 'company-5-location-1', name: 'Facility-3'})",
    "CREATE (:Location {id: 'company-5-location-2', name: 'Facility-4'})",
    "CREATE (:Location {id: 'company-6-location-1', name: 'Facility-5'})",
    "CREATE (:Location {id: 'company-7-location-1', name: 'Facility-6'})"
]
run_request(queries_locations)

-- execution time: 0.043 sec --

'Done'

#### Warehouses

In [34]:
queries_warehouses = [
    "CREATE (:Warehouse {id: 'company-2-location-1-warehouse', name: 'Warehouse-1'})",
    "CREATE (:Warehouse {id: 'company-2-location-2-warehouse', name: 'Warehouse-2'})",
    "CREATE (:Warehouse {id: 'company-5-location-1-warehouse', name: 'Warehouse-3'})",
    "CREATE (:Warehouse {id: 'company-5-location-2-warehouse', name: 'Warehouse-4'})",
    "CREATE (:Warehouse {id: 'company-6-location-1-warehouse', name: 'Warehouse-5'})",
    "CREATE (:Warehouse {id: 'company-7-location-1-warehouse', name: 'Warehouse-6'})"
]
run_request(queries_warehouses)

-- execution time: 0.043 sec --

'Done'

#### Factories

In [35]:
queries_factories = [
    "CREATE (:Factory {id: 'company-2-location-1-factory', name: 'Factory-1'})",
    "CREATE (:Factory {id: 'company-2-location-2-factory', name: 'Factory-2'})",
    "CREATE (:Factory {id: 'company-5-location-1-factory', name: 'Factory-3'})",
    "CREATE (:Factory {id: 'company-5-location-2-factory', name: 'Factory-4'})",
    "CREATE (:Factory {id: 'company-6-location-1-factory', name: 'Factory-5'})",
    "CREATE (:Factory {id: 'company-7-location-1-factory', name: 'Factory-6'})"
]
run_request(queries_factories)

-- execution time: 0.033 sec --

'Done'

#### Products

In [36]:
queries_products = [
    "CREATE (:Product {id: 'company-2-product-1', name: 'Sedan Car'})",
    "CREATE (:Product {id: 'company-2-product-2', name: 'SUV Car'})",
    "CREATE (:Product {id: 'company-5-product-1', name: 'Front Seat'})",
    "CREATE (:Product {id: 'company-5-product-2', name: 'Rear Seat'})",
    "CREATE (:Product {id: 'company-5-product-3', name: 'Bench Seat'})",
    "CREATE (:Product {id: 'company-6-product-1', name: 'Springs'})",
    "CREATE (:Product {id: 'company-6-product-2', name: 'Heating'})",
    "CREATE (:Product {id: 'company-7-product-1', name: 'Steel'})"
]
run_request(queries_products)

-- execution time: 0.031 sec --

'Done'

#### Stocks

In [37]:
queries_stocks = [
    "CREATE (:Stock {id: 'company-2-location-1-warehouse-stock-1', date: datetime('2022-08-01')})",
    "CREATE (:Stock {id: 'company-2-location-1-warehouse-stock-2', date: datetime('2022-08-02')})",
    "CREATE (:Stock {id: 'company-7-location-1-warehouse-stock-1', date: datetime('2022-08-01')})",
    "CREATE (:Stock {id: 'company-7-location-1-warehouse-stock-2', date: datetime('2022-08-02')})"
]
run_request(queries_stocks)

-- execution time: 0.031 sec --

'Done'

### Sample data verification

+ Check the number of companies (should be 7)
+ Check the total number of products (should be 8)

In [38]:
# Run a Cypher query to count nodes labeled as 'Company'
query_companies_count = "MATCH (c:Company) RETURN COUNT(c) AS companyCount"
run_request(query_companies_count)

-- execution time: 0.008 sec --

 companyCount
--------------
            7

In [39]:
query_products_count = "MATCH (p:Product) RETURN COUNT(p) AS productCount"
run_request(query_products_count)

-- execution time: 0.005 sec --

 productCount
--------------
            8